<div class="container-fluid">
    <%= form_for :sessions, url: {action: "create"}, html: {class: "register-form"} do |f| %>
    <div class="row">
      <div class="col-md-4 col-sm-4 col-lg-4">
        <label for="firstName">NAME</label>
        <%= f.text_field :name, class: "form-control" %>
        <br>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-4 col-lg-4">
        <label for="password">PASSWORD</label>
        <%= f.password_field :password, class: "form-control" %>
        <br>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6">
        <%= f.submit "Login", class: "btn, btn-default logbutton" %>
      </div>
    </div>
  <% end %>
</div>