<%= javascript_tag do %>
  $(document).ready(function() {

  <% if @setting_weekend_days %>
    Setting_w = '<%= @setting_weekend_days %>';
    Setting_weekend_days = [];
    Setting_weekend_days = Setting_w.split(",");
  <% else %>
    Setting_weekend_days = false;
  <% end %>

  });
<% end %>