COLLECTION
<a href=""></a>
<br><br>

COLOR FAMILY
<a href=""></a>
<br><br>

FINISH TYPE
<a href=""></a>
<br><br>

SKINTONE
<div id="skintone_range"></div>
<br>
<br><br>

NAIL LENGTH
<div id="nail_length_range"></div>

<%= javascript_include_tag "range" %>
