<%= stylesheet_link_tag "jquery-ui.multidatespicker.css" %>

<div class="activeadmin-row">
  <div class="activeadmin-col-md-6">
    <div id="mdp-demo"></div>
    <br>
    <div id="weekend_days_save" class="botton-activeadmin">Save</div>
  </div>
  <div class="activeadmin-col-md-6">
    <div id="mdp-result"></div>
  </div>
</div>

<%= javascript_include_tag "jquery-ui.multidatespicker" %>

<%= render partial: "shared/setting_weekend_days" %>

<%= javascript_include_tag "weekend_days" %>