<b>New order from <%= Setting.find_name('site_domain') %></b>
<br>
<br>
Client name -> <%= @order[:name] %><br>
Client email -> <%= @order[:email] %><br>
Client date -> <%= @order[:date] %><br>
Client time -> <%= @order[:time].strftime("%I:%M %p") %><br>
<% if  @order[:image].size %>
  Client image -> <a href="<%= Setting.find_name('site_domain') %><%= @order[:image].url %>"><%= Setting.find_name('site_domain') %><%= @order[:image].url %></a><br>
<% end %>