<div>
  <div class="form-group">
    <div class="row">
      <div class="col-md-6">
        <div id="datetimepicker_day"></div>
      </div>
      <div class="col-md-6">
        Busy time:
        <div id="time"></div>
      </div>
    </div>
  </div>

</div>

<%= form_for :appointments, url: {action: "create"}, html: {class: "new_order", multipart: true } do |f| %>
  <div class="form-group">
    <div id="datetimepicker_time"></div>
  </div>
  <div class="form-group">
    <%= f.text_field :name, class: "form-control", placeholder: "name" %>
  </div>
  <div class="form-group">
    <%= f.text_field :email, class: "form-control", placeholder: "email" %>
  </div>
  <div class="form-group">
    <label class="btn btn-default btn-file">
      Browse <%= f.file_field :image, class: "form-control display-none", id: "appointments_file", accept: "image/png,image/gif,image/jpeg,image/bmp" %>
    </label><i class="margin-left-10 valid-file fa" aria-hidden="true"></i>
  </div>
  <div class="form-group">
    <%= f.submit "New order", class: "btn, btn-default", id: "order_submit" %>
  </div>
<% end %>

<%= javascript_tag do %>
  Setting_time_step = <%= @setting_time_step %>;

  Setting_time_work = [];
  for (i = <%= @time_start_work %>; i <= <%= @time_end_work %>; i++) {
  Setting_time_work.push(i);
  }

  Setting_mas_weekend = <%= @mas_weekend %>;

<% end %>
<%= render partial: "shared/setting_weekend_days" %>

<%= javascript_include_tag "appointments" %>